body {
    background-color: #365486;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

nav {
    background-color: #0F1035;
}

h1 {
    color: #0F1035;
}

.row{
    width: 1300px;
}
.card-add {
    background-color: #DCF2F1;
    padding: 15px;
    margin-top: 20px;
    margin-left: 20px; 
    width: 400px;
    height: 500px;
    border-radius: 10px;
}
.card-view{
    background-color: #DCF2F1;
    padding: 15px;
    margin-top:20px;  
    width: 890px;
    height: 500px;
    border-radius: 10px;
    overflow-y: scroll;
}
.card-note{
    padding: 5px;
}
.textarea{
    width: 370px;
    height: 370px;
}
.textarea-update{
    width: 230px;
    height: 170px;
}
.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 20px;
  }
  
  .note-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
